<!-- Services Section -->
<section id="activities">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Activities</h2>
          </div>
      </div>
      <div class="row container">

          <style>
          li {
            margin-top: 15px;
          }
          </style>

<p>
  Traditional workshop presentations, and a guided interactive session for brainstorming ideas on how to advance process
  mining techniques for enhancing environmental, economic, and social sustainability resulting in an overview of topics
  to be addressed as a community.
</p>

      </div>
  </div>
</section>
