<!-- Services Section -->
<section id="call">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Call for Papers</h2>
          </div>
      </div>
      <div class="row container">

          <style>
          li {
            margin-top: 15px;
          }
          </style>

<p>
  Increasing environmental and societal challenges make the urgency for sustainable development paramount.
  Industries responsible for a significant portion of global emissions and waste play a crucial role in this transition.
  The “Process Mining for Sustainability” workshop aims to bridge the gap between technological advancement and sustainable
  practices, focusing on the transformative potential of process mining in fostering sustainable business processes.
  After the very successful first edition of the <a href="2024/">PM4S Workshop co-hosted with ICPM 2024</a>, we aim for a second edition!
</p>

<p>
  The United Nations’ Sustainable Development Goals (SDGs) demand reevaluating industrial processes and organizational
  practices. Business processes are pivotal in this context, and there is a pressing need for concrete, scalable
  solutions to embed sustainability into the fabric of BPM. It is imperative to advance existing techniques and
  methodologies to harness the power of process mining for sustainability fully. PM4S encourages submissions that
  propose process mining frameworks integrating sustainability-related knowledge, enhance process mining techniques to
  support production and logistics processes, or describe the application of process mining to increase sustainability.
  For instance, object-centric process mining allows for a more nuanced understanding of complex inter-organizational
  systems, providing a ground for methodologies that can significantly advance sustainability.
</p>

<p>
  This workshop, co-hosted with the <a href="https://icpmconference.org/2025/" target="_blank">Conference for Process Mining (ICPM) 2025</a>
  in Montevideo, Uruguay, aims to showcase the latest research and practical applications of process mining in pursuing sustainability,
  foster dialogue between academia and industry, and develop a joint action plan to guide future efforts in this critical domain.
</p>

<p>
  Topics, therefore, include the following but are not limited to:
</p>

<ul>
  <li>Environmental and social aspects of process mining techniques</li>
  <li>Sustainability-oriented design and evaluation of process mining algorithms</li>
  <li>Sustainability assessment of processes and systems</li>
  <li>Resilience of processes and systems</li>
  <li>Support for regulatory compliance</li>
  <li>Production and logistics process analysis (IoT, value stream analysis)</li>
  <li>Circular economy, e.g., material flows, recycling processes, remanufacturing</li>
  <li>Environmental use cases, e.g., renewable energy, waste management, emission</li>
  <li>Sustainability aspects of inter-organizational processes and supply chains</li>
  <li>Social sustainability, e.g., human resources, fairness and diversity in organizational processes</li>
  <li>Application of process mining for sustainable software engineering</li>
  <li>Extraction of event logs containing sustainability-related data</li>
  <li>Sustainability data in event logs</li>
  <li>Analysis and simulation of processes with constrained resources</li>
  <li>Object-centric process mining for holistic process analysis</li>
  <li>Application of process mining for Life Cycle Assessment (environmental or social)</li>
  <li>Modeling and visualization of sustainability aspects in event logs and process models</li>
</ul>

<h2>Submission Instructions</h2>

We accept the following submission types (page limits include tables, figures, bibliography and appendices):

<ul>
    <li>Full papers (up to 12 pages) illustrating novel research or detailed case studies performed in industry. Each paper should contain a short abstract, clarifying the relation of the paper with the main topics (preferably using the list of topics above), clearly stating the problem being addressed, and the goal. Full Paper submissions must use the <a href="https://www.springer.com/gp/computer-science/lncs/conference-proceedings-guidelines" target="_blank">Springer LNCS/LNBIP format</a>.</li>
    <li>Extended abstracts (up to 2 pages) intended for position papers and idea papers exploring or discussing the future steps for PM4S. Extended abstracts will be selected based on their potential to spark engaging scientific discussion or debate. Authors need to prepare their submission following the CEURART 1-column template, <a href="https://www.overleaf.com/latex/templates/template-for-submissions-to-ceur-workshop-proceedings-ceur-ws-dot-org/hpvjjzhjxzjk" target="_blank">available here through Overleaf</a>. These contributions will be presented during a poster session at the event; authors are responsible for designing and printing their own posters.</li>
</ul>

All contributions should be submitted electronically as a self-contained PDF file via the <a href="https://easychair.org/conferences/?conf=icpm2025" target="_blank">submission system</a>. When submitting your paper, please select the name of the workshop track, <em>"Process Mining for Sustainability (PM4S)"</em>.
Submissions must be original contributions not published or submitted to other conferences or journals in parallel with this workshop.

At least one author of each contribution must register (see below) and participate in the workshop.

<h2>Publication Procedure</h2>

All authors of accepted full papers are asked to incorporate the feedback from their reviews until the pre-workshop camera-ready deadline (see above).
These versions of accepted full papers will be published centrally with the accepted papers from all workshops co-located with the ICPM.
Full papers will be published by Springer as a post-workshop proceedings volume of the <a href="https://www.springer.com/series/7911" target="_blank">Lecture Notes in Business Information Processing (LNBIP)</a> series. Hence, authors of these papers have time until the post-workshop deadline to update their papers to incorporate insights and feedback they might have gained at the workshop.

Accepted extended abstract will be tentatively submitted for digital publication in an open-access <a href="https://ceur-ws.org/" target="_blank">CEUR volume</a>.

The submissions of all contributions and their updates will be handled via EasyChair.

<h2>Journal Invitation</h2>

The best workshop papers associated with ICPM 2025 will be invited to submit an extended version to the <a href="https://link.springer.com/journal/44311" target="_blank">Process Science journal</a>.
These will not be part of a specific collection (the open-access version of a special issue) but will be regular papers in the regular issues. However, the reviewing time should be shorter as we aim to have an overlap with the reviewing team (one reviewer of the original paper being invited to review the journal version in addition to a fresh external reviewer).

<h2>Registration</h2>
As the PM4S Workshop is co-located with ICPM 2025, all information regarding the registration for the Conference and the Workshops can be found on the <a href="https://icpmconference.org/2025/" target="_blank">main conference website</a>.


  </div>
</div>
</section>
