<!-- Services Section -->
<section id="pc">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Program Committee</h2>
          </div>
      </div>
      <div class="row container">

          <style>
          li {
            margin-top: 15px;
          }
          </style>

    <ul>
        <li>Stefanie Betz, HS Furtwangen, Germany</li>
        <li>Andrea Burattin, TU Denmark, Denmark</li>
        <li>Adam Burke, Queensland University of Technology, Australia</li>
        <li>Mario Cortes-Cornax, Univ. Grenoble Alpes, France</li>
        <li>Finn Klessascheck, TU Munich, Germany</li>
        <li>Sander Leemans, RWTH Aachen University, Germany</li>
        <li>Félix García, University of Castilla, La Mancha, Spain</li>
        <li>Thorsten Schoormann, Roskilde University, Denmark</li>
        <li><i>We are currently expanding our list of PC members...</i></li>
    </ul>

      </div>
  </div>
</section>
