<!-- Portfolio Grid Section -->
<style>
    .speakers-item img {
        max-height: 250px;
    }

    .speakers-caption > a {
        color: black !important;
    }
</style>
    <section id="organizers" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Organizers</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <p>
               Should you have any questions or require assistance, feel free to reach out to us at <a href="mailto:pm4s-2025@easychair.org">pm4s-2025@easychair.org</a>.
            </p>
            <div class="row">
            {% for team in site.data.twenty_25.teams %}
                <div class="col-md-3 col-sm-6 speakers-item">
                    <a href="{{ team.href }}" target="_blank" class="speakers-link" data-toggle="none">
                        <img src="css/img/team/{{ team.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <!--
                    <a href="#{{ team.name }}" class="speakers-link" data-toggle="none">
                        <div class="speakers-hover">
                            <div class="speakers-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                    </a>
                    -->
                    <div class="speakers-caption">
                        <a href="{{ team.href }}" target="_blank" class="speakers-link" data-toggle="none">
                            <h4>{{ team.title }}</h4>
                        </a>
                        <p class="text-muted">{{ team.subtitle }}</p>
                        <p class="text-muted">{{ team.description }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>