<!-- Services Section -->
<section id="call">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Call for Papers</h2>
          </div>
      </div>
      <div class="row container">

          <style>
          li {
            margin-top: 15px;
          }
          </style>

<p>
  With increasing environmental and societal challenges, the urgency for sustainable development becomes paramount.
  Industries, responsible for a significant portion of global emissions and waste, play a crucial role in this
  transition. The “Process Mining for Sustainability” workshop aims to bridge the gap between technological advancement
  and sustainable practices, focusing on the transformative potential of process mining in fostering sustainable
  business processes.
</p>

<p>
  The United Nations’ Sustainable Development Goals (SDGs) demand a reevaluation of industrial processes and
  organizational practices. Business processes are pivotal in this context. There is a pressing need for concrete,
  scalable solutions to embed sustainability into the fabric of BPM. To fully harness the power of process mining for
  sustainability, it is imperative to advance existing techniques and methodologies. PM4S encourages submissions that
  propose process mining frameworks integrating sustainability-related knowledge, enhance process mining techniques to
  support production and logistics processes, or describe the application of process mining to increase sustainability.
  For instance, object-centric process mining allows for a more nuanced understanding of complex inter-organizational
  systems, providing a ground for methodologies that can significantly advance sustainability.
</p>

<p>
  The objective of this workshop is to showcase the latest research and practical applications of process mining in the
  pursuit of sustainability, foster dialogue between academia and industry, and to develop a joint action plan to guide
  future efforts in this critical domain.
</p>

<p>
  Topics, therefore, include the following but are not limited to:
</p>

<ul>
  <li>Environmental and social aspects of process mining techniques</li>
  <li>Sustainability assessment of processes and systems</li>
  <li>Sustainability indicators in event logs</li>
  <li>Regulatory compliance</li>
  <li>Object-centric process mining for holistic process analysis</li>
  <li>Production and logistics process analysis (IoT, value stream analysis)</li>
  <li>Resilience</li>
  <li>Analysis and simulation of processes with constrained resources</li>
  <li>Sustainability-oriented design and evaluation of PM algorithms</li>
  <li>Extraction of event logs containing sustainability-related data</li>
  <li>Life-cycle assessment, e.g., inter-organizational processes, supply chains</li>
  <li>Circular economy, e.g., material flows, recycling processes, remanufacturing</li>
  <li>Environmental use cases, e.g., renewable energy, waste management, emission</li>
  <li>Social sustainability, e.g., human resources, organizational perspective</li>
</ul>

<h2>Submission Types</h2>

We aim to receive submissions of different types:

<ul>
    <li>Full papers (up to 12 pages) illustrating novel research or detailed case studies performed in industry.</li>
    <li>Short papers (up to 6 pages) illustrating a use case in the context of PM4S.</li>
    <li>Visionary papers (up to 4 pages) discussing the future steps of PM4S.</li>
</ul>

Full research papers will be published by Springer as a post-workshop proceedings volume in the series Lecture Notes in
Business Information Processing (LNBIP). Due to editorial requirements, we are expected to have an acceptance rate for
papers published in LNBIP of not more than 50%.

      </div>
  </div>
</section>
