<!-- Services Section -->
    <section id="theme">
        <div class="container">
            <!-- <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Title</h2>
                </div>
            </div> -->
            <div class="row container">
                <style>
                    h2 {
                      margin-top: 40px;
                    }
                    </style>
<p>
    The PM4S workshop aims to provide a platform for researchers and practitioners to explore the intersection of
    process mining and sustainability as well as raise awareness for the potential of process mining for supporting
    sustainable development. We want to offer a platform to present work contributing to the topic and foster discussion
    and collaboration on innovative approaches to enhance the environmental and social performance of business
    processes.
</p>

<h2>Important Dates</h2>

<ul>
  <li><b>August 8, 2024:</b> Abstract Submission</li>
  <li><b>August 15, 2024:</b> Paper Submission</li>
  <li><b>September 2, 2024:</b> Notification of Acceptance/Rejection</li>
  <li><b>September 23, 2024:</b> Pre-Workshop Camera-Ready Paper Submission</li>
  <li><b>October 14, 2024:</b> Workshop</li>
  <li><b>October 29, 2024:</b> Post-Workshop Camera-Ready Paper Submission</li>
</ul>

Please kindly refer to the <a href="https://icpmconference.org/2024/call-for-research-papers/" target="_blank">official ICPM website for detailed submission instructions</a>.


                 <center style="margin-top: 40px;"><a href="https://easychair.org/conferences/?conf=icpm2024" target="_blank" class="page-scroll btn btn-xl">Paper Submission</a></center>
            </div>
        </div>
    </section>