<!DOCTYPE html>
<html>

  {% include 2024_data/head.html %}


    <body id="page-top" class="index">

    {% include 2024_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Process Mining 4 Sustainability Workshop 2024<br></div>
                <div class="intro-lead-in">October 14, 2024</div>
                <div class="intro-lead-in">Copenhagen, Denmark</div>
                <a href="#theme" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    {% include 2024_data/intro.html %}
    {% include 2024_data/agenda.html %}
    {% include 2024_data/call.html %}
    {% include 2024_data/activities.html %}
    {% include 2024_data/team_members.html %}
    {% include 2024_data/committee.html %}
    {% include 2024_data/footer.html %}
    {% include 2024_data/speakers_info.html %}
    {% include 2024_data/js.html %}

    </body>
</html>