<!DOCTYPE html>
<html>

  {% include 2025_data/head.html %}


    <body id="page-top" class="index">

    {% include 2025_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Process Mining 4 Sustainability Workshop 2025<br></div>
                <div class="intro-lead-in">October 20, 2025</div>
                <div class="intro-lead-in">Montevideo, Uruguay</div>
                <a href="#theme" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    {% include 2025_data/intro.html %}
    {% include 2025_data/call.html %}
    {% include 2025_data/activities.html %}
    {% include 2025_data/team_members.html %}
    {% include 2025_data/committee.html %}
    {% include 2025_data/footer.html %}
    {% include 2025_data/js.html %}

    </body>
</html>