<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:image" content="/css/2025_style/img/header-bg.jpg">
  <meta property="og:image:alt" content="PM4S Workshop Header Background">
  <meta name="twitter:image" content="/css/2025_style/img/header-bg.jpg">
  <meta name="linkedin:image" content="/css/2025_style/img/header-bg.jpg">
  {% include /2024_data/head.html %}
</head>

  <style type="text/css">
    /*INCLUDE MAIN CSS FILE*/
    {% capture criticalcss %}
      {% include /2025_css/critical.scss %}
    {% endcapture %}
    {{ criticalcss | scssify }}
  </style>
  
  {% include /2024_data/js.html %}
  {% include /2024_data/head.html %}

  <body>
    {% include /2025_data/header.html %}
        {{ content }}
  </body>
  {% include /2024_data/footer.html %}
</html>
