<!DOCTYPE html>
<html>

  {% include 2027_data/head.html %}


    <body id="page-top" class="index">

    {% include 2027_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Process Mining 4 Sustainability Workshop 2027<br></div>
                <div class="intro-lead-in">Date TBD</div>
                <div class="intro-lead-in">Rende, Italy</div>
                <a href="#theme" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    {% include 2027_data/intro.html %}
    {% comment %} Program not announced yet {% include 2027_data/agenda.html %} {% endcomment %}
    {% include 2027_data/call.html %}
    {% include 2027_data/team_members.html %}
    {% include 2027_data/committee.html %}
    {% include 2027_data/footer.html %}
    {% include 2027_data/js.html %}

    </body>
</html>
